
#Conditionally import wlstModule only when script is executed with jython
if __name__ == '__main__': 
    from wlstModule import *#@UnusedWildImport

print 'starting the script ....'
username = '{{ jms_admin_username }}'
password = '{{ jms_admin_password }}'
url='{{ jms_admin_server_url }}'
managed_server_name='{{ jms_managed_server_name }}'

ds_name='{{ jms_data_store_name }}'
persistent_store_name='{{ jms_persistent_store_name }}'
prefix='{{ jms_persistent_store_prefix }}'

connect(username,password,url)

edit()
startEdit()

cd('/')
jdbcStore = cmo.createJDBCStore(persistent_store_name)
cd('/JDBCStores/'+persistent_store_name)
cmo.setDataSource(getMBean('/SystemResources/'+ds_name))
cmo.setPrefixName(prefix)

cd('/Servers/'+managed_server_name)
jdbcStore.addTarget(cmo)

try:
    save()
    activate(block="true")
    print "script returns SUCCESS"   
except Exception, e:
    print e 
    print "Error while trying to save and/or activate!!!"
    dumpStack()
    raise