#!/usr/bin/python

## Variables

domain = '{{ cfg_domain_name }}'
full_domain_path = '{{ cfg_full_domain_path }}'
full_apps_path = '{{ cfg_full_apps_path }}'
wls_template = '{{ cfg_wls_template }}'
username = '{{ cfg_username }}'
password = '{{ cfg_password }}'
java_home = '{{ cfg_java_home }}'
admin_server_name = '{{ cfg_admin_server_name }}'

print('creating domain')
print('wls template: ' + wls_template)
readTemplate(wls_template)

# Turn on Cross domain security
create('base_domain', 'SecurityConfiguration')
cd('/SecurityConfiguration/base_domain')
set('CrossDomainSecurityEnabled', true)

# Define username, password, startMode, and javaHome for weblogic
cd('/Security/base_domain/User/weblogic')
set('Name', username)
set('Password', password)
{% if cfg_development_mode == true %}
setOption('ServerStartMode', 'dev')
{% else %}
setOption('ServerStartMode', 'prod')
{% endif %}
setOption('CreateStartMenu', 'false')
setOption('JavaHome', java_home)
setOption('OverwriteDomain', {{ cfg_override_domain }})

# Setup domain log output
print('domain log: ' + full_domain_path + '/logs/' + domain + '.log')
cd('/')
create('base_domain','Log')
cd('/Log/base_domain')
cmo.setFileName(full_domain_path + '/logs/' + domain + '.log')
cmo.setFileCount({{ cfg_logging_file_count }})
cmo.setFileMinSize({{ cfg_logging_file_min_size }})
cmo.setRotationType('{{ cfg_logging_rotation_type }}')
cmo.setFileTimeSpan({{ cfg_logging_file_time_span }})

writeDomain(full_domain_path)
closeTemplate()