#!/usr/bin/env bash
# wl_nodemgr
#
# chkconfig: - 97 03
# description:  Start the Weblogic NodeManager
# source function library
. /etc/rc.d/init.d/functions

wl_base="{{ cfg_wl_home }}"
log_file="{{ cfg_init_logs_dir }}/nodemgr.log"

test -d /var/run/weblogic || mkdir -p /var/run/weblogic

start() {
  echo -n "Starting Weblogic NodeManager: "
  pgrep -u oracle -f nodemanager &>/dev/null && echo -n "Already running!" && return 0
    
  local setup_wl_env_cmd="$wl_base/wlserver_10.3/server/bin/setWLSEnv.sh"
  local start_node_manager_cmd="$wl_base/wlserver_10.3/server/bin/startNodeManager.sh"
  su - oracle -c "$setup_wl_env_cmd > $log_file 2>&1 && $start_node_manager_cmd >> $log_file 2>&1 < /dev/null &" && success || failure
  return $?
}

stop() {
  echo -n "Stopping Weblogic NodeManager: "
  su - oracle -c "pkill -u oracle -f nodemanager" && success || failure
  return $?
}

restart() {
  stop && start
  return $?
}

status() {
  pgrep -u oracle -f nodemanager &>/dev/null && echo "Nodemanager is running" && return 0
  echo "Nodemanager is not running" && return 1
}

rc=0
case "$1" in
  start)
    start || rc=$?
    ;;
  stop)
    stop || rc=$?
    ;;
  restart)
    restart || rc=$?
    ;;
  status)
    status || rc=$?
    ;;
  *)
    echo "Usage: $0 {start|stop|status|restart}" && exit 1
esac
exit $rc
